body {
  background-color: #ffffff;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #ffffff;
}

.login-image {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-image img {
  max-width: 100%;
  max-height: 100vh;
  height: auto;
}

.login-form {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

mat-card {
  width: 100%;
  max-width: 400px;
  padding: 1rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  background-color: #ffffff;
}

mat-card-title {
  text-align: center;
  font-size: 1.8rem;
  font-family: 'Roboto', sans-serif;
  margin-bottom: 0.5rem;
  color: #3f51b5;
}

mat-card-subtitle {
  text-align: center;
  margin-bottom: 1.5rem;
  font-family: 'Roboto', sans-serif;
}

mat-form-field {
  width: 100%;
  margin-bottom: 1rem;
  font-family: 'Roboto', sans-serif;
}

.forgot-password {
  text-align: right;
  margin-bottom: 1rem;
  font-family: 'Roboto', sans-serif;
}

button[type="submit"] {
  width: 100%;
  padding: 0.5rem;
  font-size: 1rem;
  margin-bottom: 0.5rem;
  border: 2px solid #3f51b5;
  border-radius: 4px;
  font-family: 'Roboto', sans-serif;
}

button[type="button"] {
  width: 100%;
  padding: 0.5rem;
  font-size: 1rem;
  margin-bottom: 0.5rem;
  border: 2px solid #3f51b5;
  border-radius: 4px;
  font-family: 'Roboto', sans-serif;
}

button:hover {
  background-color: #303f9f;
  border-color: #303f9f;
  color: #ffffff;
}

.register-option {
  text-align: center;
  margin-top: 1rem;
}

.register-option a {
  color: #3f51b5;
  text-decoration: none;
}

.register-option a:hover {
  text-decoration: underline;
}
