<div class="weather-container">
  <mat-card>
    <mat-card-title>Weather Information</mat-card-title>
    <mat-card-content>
      <form (ngSubmit)="fetchWeather()">
        <mat-form-field appearance="fill">
          <mat-label>Latitude</mat-label>
          <input matInput [(ngModel)]="latitude" name="latitude" required>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Longitude</mat-label>
          <input matInput [(ngModel)]="longitude" name="longitude" required>
        </mat-form-field>
        <button mat-raised-button color="primary" type="submit">Get Weather</button>
      </form>
      <canvas id="weatherChart" width="700" height="250" #weatherChart></canvas>
    </mat-card-content>
  </mat-card>
</div>
