<div class="dashboard-container">
  <mat-card>
    <mat-card-title>Welcome, {{ user.name }}</mat-card-title>
    <mat-card-content>
      <p>Username: {{ user.username }}</p>
      <p>Age: {{ user.age }}</p>
      <p>Date of Birth: {{ user.dateOfBirth | date:'longDate' }}</p>
    </mat-card-content>
  </mat-card>
  <mat-card>
    <mat-card-title>Line Chart</mat-card-title>
    <mat-card-content>
      <canvas id="lineChart" width="700" height="250" #lineChart></canvas>
    </mat-card-content>
  </mat-card>
  <mat-card>
    <mat-card-title>Bubble Chart</mat-card-title>
    <mat-card-content>
      <canvas id="bubbleChart" width="700" height="250" #bubbleChart></canvas>
    </mat-card-content>
  </mat-card>
  <button (click)="stayOnDashboard()">Log Out</button>
</div>